<div class="jumbotron">
    <h1>GameIt Administration</h1>
    <p class="lead">You have the people.  You have the process.  GameIt provides the PURPOSE.  </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>People &amp; Groups</h2>
        <p>People and groups ready to achieve</p>
        <p><a class="btn btn-default" href="#">Add a New User</a></p>
        <p><a class="btn btn-default" href="#">Edit an Existing User</a></p>
        <p><a class="btn btn-default" href="#">Add a New Group</a></p>
        <p><a class="btn btn-default" href="#">Edit an Existing Group</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tasks &amp; Achievements</h2>
        <p>A towering achievement begins with a single task.</p>
        <p><a class="btn btn-default" href="#">Add a New Task</a></p>
        <p><a class="btn btn-default" href="#">Edit an Existing Task</a></p>
        <p><a class="btn btn-default" href="#">Add a New Achievemnt</a></p>
        <p><a class="btn btn-default" href="#">Edit an Existing Achievement</a></p>
    </div>
    <div class="col-md-4">
        <h2>Views</h2>
        <p>Success -- on the big screen.   This is where you design the scoreboards and dashboards.</p>
        <p><a class="btn btn-default" href="#">Create a View</a></p>
        <p><a class="btn btn-default" href="#">Edit an Existing View</a></p>
    </div>
</div>
